<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit Survey</h1>

    <form id="edit_survey_form" action="" method="POST">
      {%csrf_token%}
      <label for="survey">Survey</label>
      <input type="text" name="survey" id="survey" />

      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
      ></textarea>
      <input type="submit" value="Submit" />
    </form>

    <br /><br /><br /><br />
    <hr />
    <form id="delete_form" action="" method="DELETE">
      {%csrf_token%}

      <input type="submit" value="DELETE" />
    </form>

    <form action="" method="POST" id="add_question_form">
      <label for="question">Question</label>
      <input type="text" name="question" id="question" />
      <!-- <label for="option">option</label> -->
       <!-- <input type="text" id="option" /> -->
      <input type="submit" value="Add Question" />
    </form>

    <script>
      const survey_id = window.location.pathname.split("/")[3];
      const edit_survey_form = document.querySelector("#edit_survey_form");
      const delete_form = document.querySelector("#delete_form");
      const survey_title = document.querySelector("#survey");
      const survey_description = document.querySelector("#description");
      const add_question_form = document.querySelector("#add_question_form");
      const question = document.querySelector("#question");
      const option = document.querySelector("#option");

      edit_survey_form.addEventListener("submit", function (e) {
        e.preventDefault();
        let formData = new FormData(edit_survey_form);
        let formDataObject = Object.fromEntries(formData.entries());
        let formDataJsonString = JSON.stringify(formDataObject);
        console.log("sedingn...", formDataObject, formDataJsonString);
        fetch(`../surveys/${survey_id}/`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: "JWT " + localStorage.getItem("access"),
          },
          body: formDataJsonString,
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            new_csrf_token = data.csrf_token;
            document.cookie = `csrftoken=${new_csrf_token}; path=/`;
          })

          .catch((error) => {
            console.log(error);
          });
      });
      delete_form.addEventListener("submit", function (e) {
        e.preventDefault();
        let formData = new FormData(delete_form);
        let formDataObject = Object.fromEntries(formData.entries());
        console.log("sedingn...", formDataObject);
        let formDataJsonString = JSON.stringify(formDataObject);

        fetch(`../surveys/${survey_id}/`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: "JWT " + localStorage.getItem("access"),
          },
          body: { csrfmiddlewaretoken: document.cookie },
        })
          .then((response) => {
            if (response.ok) {
              console.log("it was deleted");
              window.location.href = `http://127.0.0.1:8000/api/`;
              // Success! The response was in the 200-299 range
              return response.json();
            } else {
              // There was an error. Handle it appropriately
              throw new Error("Network response was not ok");
            }
          })
          .then((data) => {
            console.log(data);
            // new_csrf_token = data.csrf_token
            // document.cookie = `csrftoken=${new_csrf_token}; path=/`;
          })

          .catch((error) => {
            console.log(error);
          });
      });

      // Fetch Survey Questions

      fetch(`../surveys/${survey_id}/`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "JWT " + localStorage.getItem("access"),
          "X-CSRFToken": document.cookie,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          survey_title.value = data.survey;
          survey_description.value = data.description;
        })

        .catch((error) => {
          console.log(error);
        });
      fetch(`../surveys/${survey_id}/questions`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: "JWT " + localStorage.getItem("access"),
          "X-CSRFToken": document.cookie,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);

        })

        .catch((error) => {
          console.log(error);
        });

      add_question_form.addEventListener("submit", function (e) {
        e.preventDefault();
        let formData = new FormData(add_question_form);
        let formDataObject = Object.fromEntries(formData.entries());
        console.log("sedingn...", formDataObject);
        let formDataJsonString = JSON.stringify(formDataObject);

        fetch(`../surveys/${survey_id}/questions/`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: "JWT " + localStorage.getItem("access"),
          },
          body: formDataJsonString,
        })
        .then((response) => response.json())
          .then((data) => {
            console.log(data);
            
          })

          .catch((error) => {
            console.log(error);
          });
      });
    </script>
    <style>
      input,
      textarea {
        display: block;
      }
      .error {
        color: red;
        font-size: 11px;
        display: block;
      }
    </style>
  </body>
</html>
